<mat-toolbar color="primary">
  <a mat-button [routerLink]="'/lawyers-home'" class="title-bar">LEGIZ</a>
  <div class="mat-spacer"></div>
  <a mat-button [routerLink]="'lawyer-profile'">My Profile</a>
  <a mat-button [routerLink]="'edit-lawyer-profile'">Edit Profile</a>
  <a mat-button [routerLink]="'/advices'">Legal Advices</a>
  <a mat-button [routerLink]="'/login'" color="warn">Logout</a>
</mat-toolbar>

<div class="lawyers-background">
  <p> .</p>
  <mat-card class="home-options-card">
    <mat-card-header class="home-title">
      <mat-card-title>Welcome Lawyer</mat-card-title>
      <mat-card-subtitle>Look at all you can do!</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <img mat-card-image src="https://www.dropbox.com/s/4cq7jpmrxzc3jc9/Logo_Legiz.png?dl=1" class="logo-profile" alt="">
      <div class="home-button-content">
        <button mat-raised-button class="home-option-button">View my Profile</button>
        <button mat-raised-button [routerLink]="" class="home-option-button">Check my Cases</button>
        <button mat-raised-button class="home-option-button">Check paperwork</button>
      </div>
    </mat-card-content>
  </mat-card>
</div>
