<p></p>
<mat-card class="center" style="width: 70%">
  <ng-container>
    <mat-card style="text-align: center">
      <h1>Log In</h1>
    </mat-card>
    <p></p>
    <img src="https://www.dropbox.com/s/4cq7jpmrxzc3jc9/Logo_Legiz.png?dl=1" class="center" style="width: 20%" alt="">
    <p></p>
    <ng-container>
      <mat-card class="center" style="text-align: center">
        <mat-form-field appearance="fill">
          <mat-label>Type</mat-label>
          <mat-select>
            <mat-option value="one">Customer</mat-option>
            <mat-option value="two">Lawyer</mat-option>
          </mat-select>
        </mat-form-field>
        <p></p>
        <mat-form-field appearance="fill">
          <mat-label>Username</mat-label>
          <input matInput>
        </mat-form-field>
        <p></p>
        <mat-form-field appearance="fill">
          <mat-label>Enter your password</mat-label>
          <input matInput [type]="hide ? 'password' : 'text'">
          <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
          </button>
        </mat-form-field>
        <p></p>
        <button mat-raised-button color="primary">Log In</button>
      </mat-card>
    </ng-container>
  </ng-container>
</mat-card>
