<div>
  <div align="center">
    <h1>Sign Up Lawyer</h1>
  </div>
  <div align="center">
    <mat-stepper linear #stepper>
      <mat-step [stepControl]="firstFormGroup">
        <form [formGroup]="firstFormGroup" (ngSubmit)="submitForm()" >
          <ng-template matStepLabel>Enter your data</ng-template>
          <mat-form-field appearance="outline">
            <mat-label>Name</mat-label>
            <input matInput type="text" formControlName="name"/>
            <mat-error *ngIf="firstFormGroup.get('name')?.hasError('required')">Name is <strong>required</strong></mat-error>
          </mat-form-field>
          <br/>
          <mat-form-field appearance="outline">
            <mat-label>Last Name</mat-label>
            <input matInput type="text" formControlName="lastName"/>
            <mat-error *ngIf="firstFormGroup.get('lastName')?.hasError('required')">Last Name is <strong>required</strong></mat-error>
          </mat-form-field>
          <br/>
          <mat-form-field appearance="outline">
            <mat-label>Email</mat-label>
            <input matInput type="email" formControlName="email"/>
            <mat-icon matSuffix>email</mat-icon>
            <mat-error *ngIf="firstFormGroup.get('email')?.hasError('required')">Email is <strong>required</strong></mat-error>
            <mat-error *ngIf="firstFormGroup.get('email')?.hasError('email')">Write a <strong>correct</strong> mail</mat-error>
          </mat-form-field>
          <br/>
          <mat-form-field appearance="outline">
            <mat-label>Address</mat-label>
            <input matInput type="text" formControlName="address"/>
            <mat-error *ngIf="firstFormGroup.get('address')?.hasError('required')">Address is <strong>required</strong></mat-error>
          </mat-form-field>
          <br/>
          <mat-form-field appearance="outline">
            <mat-label>Phone</mat-label>
            <input matInput type="tel" formControlName="phone"/>
            <mat-icon matSuffix>phone</mat-icon>
            <mat-error *ngIf="firstFormGroup.get('phone')?.hasError('required')">Email is <strong>required</strong></mat-error>
          </mat-form-field>
          <br/>
          <mat-form-field appearance="outline">
            <mat-label>University</mat-label>
            <input matInput type="text" formControlName="university"/>
            <mat-error *ngIf="firstFormGroup.get('university')?.hasError('required')">University is <strong>required</strong></mat-error>
          </mat-form-field>
          <br/>
          <mat-form-field appearance="outline">
            <mat-label>Specialization</mat-label>
            <mat-select formControlName="specialization">
              <mat-option value="Human Rights">Human Rights</mat-option>
              <mat-option value="Civil Law">Civil Law</mat-option>
              <mat-option value="Criminal Law">Criminal Law</mat-option>
              <mat-option value="Commercial Law">Commercial Law</mat-option>
              <mat-option value="International Right">International Right</mat-option>
              <mat-option value="Digital Law">Digital Law</mat-option>
            </mat-select>
            <mat-error *ngIf="firstFormGroup.get('specialization')?.hasError('required')">Specialization is <strong>required</strong></mat-error>
          </mat-form-field>
          <br/>
          <mat-form-field appearance="outline">
            <mat-label>Price Legal Advice</mat-label>
            <input matInput type="text" formControlName="priceLegalAdvice"/>
            <mat-error *ngIf="firstFormGroup.get('priceLegalAdvice')?.hasError('required')">Price Legal Advice is <strong>required</strong></mat-error>
          </mat-form-field>
          <br/>
          <mat-form-field appearance="outline">
            <mat-label>Price Custom Contract</mat-label>
            <input matInput type="text" formControlName="priceLegalCustomContract"/>
            <mat-error *ngIf="firstFormGroup.get('priceLegalCustomContract')?.hasError('required')">Price Legal Custom Contract is <strong>required</strong></mat-error>
          </mat-form-field>
          <br/>
          <mat-form-field appearance="outline">
            <mat-label>Password</mat-label>
            <input matInput type="password" formControlName="password"/>
            <mat-error *ngIf="firstFormGroup.get('password')?.hasError('required')">Password is <strong>required</strong></mat-error>
            <mat-error *ngIf="firstFormGroup.get('password')?.hasError('minlength')">Min Length is <strong>8</strong> words</mat-error>
          </mat-form-field>
          <div>
            <button mat-button matStepperNext>Next</button>
          </div>
        </form>
      </mat-step>
      <mat-step [stepControl]="secondFormGroup">
        <form [formGroup]="secondFormGroup">
          <ng-template matStepLabel>Pay subscription</ng-template>
          <mat-form-field appearance="outline">
            <mat-label>Card Number</mat-label>
            <input matInput type="tel" formControlName="cardNumber" maxlength=19 />
            <mat-icon matSuffix>credit_card</mat-icon>
            <mat-error *ngIf="secondFormGroup.get('cardNumber')?.hasError('required')">Card Number is <strong>required</strong></mat-error>
            <mat-error *ngIf="secondFormGroup.get('cardNumber')?.hasError('pattern')">You should write <strong>xxxx-xxxx-xxxx-xxxx</strong></mat-error>
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>Expiration Date</mat-label>
            <input matInput [matDatepicker]="datepicker" formControlName="date">
            <mat-datepicker-toggle matSuffix [for] = "datepicker"></mat-datepicker-toggle>
            <mat-datepicker #datepicker></mat-datepicker>
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>Security Code</mat-label>
            <input matInput type="tel" formControlName="code" maxlength=3 />
            <mat-icon matSuffix>key</mat-icon>
            <mat-error *ngIf="secondFormGroup.get('code')?.hasError('required')">Security Code is <strong>required</strong></mat-error>
          </mat-form-field>
          <div>
            <button mat-button matStepperPrevious>Back</button>
            <button mat-button matStepperNext>Pay</button>
          </div>
        </form>
      </mat-step>
      <mat-step>
        <ng-template matStepLabel>Done</ng-template>
        <p>Congratulations, you signed up for the app!</p>
        <div>
          <button (click)="goLogin()">Log In</button>
        </div>
      </mat-step>
    </mat-stepper>

  </div>
</div>

