form {
  max-width: 50%;
  box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.07);
  border-radius: 12px;
  padding: 40px;
  margin-top: 10px;
}

button:hover {
  filter: contrast(115%);
}
button:disabled {
  opacity: 0.5;
  cursor: default;
}

mat-form-field {
  width: 100%;
}

