<div align="center">
  <div>
    <h1>Select your Profile</h1>
  </div>
  <div >
    <span class="span-image"><a mat-flat-button [routerLink]="'/sign-up/client'"><img src="assets/images/persona.png" class="image" alt="Persona"/></a></span>
    <span class="span-image"><a mat-flat-button [routerLink]="'/sign-up/lawyer'"><img src="assets/images/abogado.png" class="image" alt="Abogado"/></a></span>
  </div>
  <div>
    <span class="span-text">Client</span>
    <span class="span-text">Lawyer</span>
  </div>
</div>
