h1 {
  font-family: "Californian FB";
  font-size: 50px;
}
.div-title {
  margin-top: 20px;
}
.div-form {
  max-width: 50%;
  width: 100%;
  margin-left: 16%;
}

.div-full-width {
  width: 100%;
}
mat-card {
  margin-top: 20px;
}
