<p></p>
<ng-container>
  <mat-card class="center" style="width: 70%">
    <mat-card style="text-align: center">
      <h1>About Us</h1>
    </mat-card>
    <p></p>
    <h3 class="card-text">
      TeraSoft is a company created in order to offer digital solutions to problems and needs that arise in the contemporary world.
    </h3>
    <h3 class="card-text">
      For this purpose, Legiz is developed in this report.
    </h3>
    <h3 class="card-text">
      This project is a web application created with the purpose of serving as a platform that provides a communication channel between lawyers and their clients to provide solutions to legal problems, in addition to having the opportunity to provide legal advice.
    </h3>
    <h3 class="card-text">
      In this way, Legiz aims to be a meeting point between lawyers and people who have legal problems or need legal advice of any kind.
    </h3>
    <p></p>
    <img src="https://www.dropbox.com/s/4cq7jpmrxzc3jc9/Logo_Legiz.png?dl=1" class="center" style="width: 10%">
  </mat-card>
</ng-container>
