<mat-toolbar color="primary">
  <a mat-button [routerLink]="'specializations'" class="title-bar">LEGIZ</a>
  <div class="mat-spacer"></div>
  <a mat-button [routerLink]="'/sign-up'" color="accent">Sign Up</a>
  <a mat-button [routerLink]="'/login'" color="accent">Login</a>
  <a mat-button [routerLink]="'/about-us'">About Us</a>
  <a mat-button [routerLink]="'/specializations'">Specializations</a>
</mat-toolbar>
<mat-card class="center" style="width: 80%">
  <ng-container>
    <header class="main-header3" id="Especializacion">
      <div class="background-overlay text-white py-5">
        <section class="bg-light">
          <div class="row">
            <div class="m-3 text-center text-dark">
              <mat-card style="text-align: center">
                <h1>Specializations</h1>
              </mat-card>
            </div>
          </div>
        </section>
        <div>
          <h1></h1>
          <h1></h1>
        </div>
        <div class="container">
          <mat-card>
            <!-- Derechos Humanos -->
            <div class="card text-center text-dark">
              <mat-card>
                <h1 class="card-header" style="text-align: center">Human Rights</h1>
              </mat-card>
              <p></p>
              <div class="card-body text-center">
                <img src="https://img.freepik.com/foto-gratis/profesional-abogado-o-juez-sexo-masculino-que-trabaja-documentos-contractuales-documentos-medidas-escalas-justicia-sala-audiencias-concepto-servicios-legales-legales_28283-1373.jpg?size=626&ext=jpg&ga=GA1.2.1998854983.1630281600" alt="Derechos Humanos" class="center" style="width: 80%">
                <p></p>
                <p class="card-text" style="text-align: center">
                  Human rights are inherent rights of all human beings, regardless of nationality, place of residence, sex, national or ethnic origin, color, religion, language, or any other condition. We all have the same human rights without discrimination. These rights are interrelated, interdependent and indivisible.
                </p>
              </div>
            </div>
          </mat-card>
          <mat-card>
            <!-- Derecho Civil -->
            <div class="card text-center text-dark">
              <mat-card>
                <h1 class="card-header" style="text-align: center">Civil Law</h1>
              </mat-card>
              <p></p>
              <div class="card-body text-center">
                <img src="https://img.freepik.com/foto-gratis/escala-justicia-oro-frente-libro-lectura-abogado-mesa_23-2147898544.jpg?size=626&ext=jpg" alt="Derecho Civil" class="center" style="width: 80%">
                <p></p>
                <p class="card-text" style="text-align: center">
                  We offer comprehensive advice and sponsorship for the detection of possible transactional risks and in this way avoid possible contingencies that harm the interests of our clients. Likewise, our sponsorship and advice focuses on civil proceedings related to real estate properties, inheritances and wills.
                </p>
              </div>
            </div>
          </mat-card>
          <mat-card>
            <!-- Derecho Penal -->
            <div class="card text-center text-dark">
              <mat-card>
                <h1 class="card-header" style="text-align: center">Criminal Law</h1>
              </mat-card>
              <p></p>
              <div class="card-body text-center">
                <img src="https://elsol-compress-release.s3-accelerate.amazonaws.com/images/large/1523120378490abogados.jpg" alt="Derecho Penal" class="center" style="width: 80%">
                <p></p>
                <p class="card-text" style="text-align: center">
                  A criminal lawyer is a professional who has specialized in Criminal Law, a legal branch that is responsible for determining various types of crimes and establishing the penalties to which those who incur them will be subjected, in order to maintain social order.
                </p>
              </div>
            </div>
          </mat-card>
          <mat-card>
            <!-- Derecho Mercantil -->
            <div class="card text-center text-dark">
              <mat-card>
                <h1 class="card-header" style="text-align: center">Commercial Law</h1>
              </mat-card>
              <p></p>
              <div class="card-body text-center">
                <img src="https://aldiaargentina.microjuris.com/wp-content/uploads/2018/01/abogado-21.jpg" alt="Derecho Mercantil" class="center" style="width: 80%">
                <p></p>
                <p class="card-text" style="text-align: center">
                  A commercial lawyer is one who is in charge of law relating to companies and businesses. On many occasions he acts as an advisor, but he is much more than that. It is the professional who will guide us in multiple processes.
                </p>
              </div>
            </div>
          </mat-card>
          <mat-card>
            <!-- Derecho Internacional -->
            <div class="card text-center text-dark">
              <mat-card>
                <h1 class="card-header" style="text-align: center">International Right</h1>
              </mat-card>
              <p></p>
              <div class="card-body text-center">
                <img src="https://politicaenelmundo.com/wp-content/uploads/2019/10/IMG_1.jpg" alt="Derecho Internacional" class="center" style="width: 80%">
                <p></p>
                <p class="card-text" style="text-align: center">
                  An international lawyer is a professional who has specialized in International Law, either in its public aspect (which regulates relations between States and other subjects with international legal personality), or private (legal relations between individuals and that have an international character) .
                </p>
              </div>
            </div>
          </mat-card>
          <mat-card>
            <!-- Derecho Digital -->
            <div class="card text-center text-dark">
              <mat-card>
                <h1 class="card-header" style="text-align: center">Digital Law</h1>
              </mat-card>
              <p></p>
              <div class="card-body text-center">
                <img src="https://pbs.twimg.com/media/C5mYN5xXQAAwTE7.jpg" alt="Derecho Internacional" class="center" style="width: 80%">
                <p></p>
                <p class="card-text" style="text-align: center">
                  The work of a digital lawyer or ICT specialist will be, as in other legal disciplines, to provide advice and legal representation to their private clients or companies when a conflict with their rights arises derived from legal, commercial or personal operations in which they have been used new technologies.
                </p>
              </div>
            </div>
          </mat-card>
        </div>
      </div>
    </header>
  </ng-container>
</mat-card>
